<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
    <h1>Hello World!! Templates</h1>

    <h3>Posts disponíveis</h3>

    <ul>
        {% for post in posts %}
        <li>Título: <b><a href="{% url 'post_detail' post.id %}">{{ post.titulo }}</a></b></li>
        <li>Autor: <b>{{ post.autor }}</b></li>
        <li>Subtítulo: <b>{{ post.subtitulo }}</b></li>
        <li>Conteúdo: <b>{{ post.conteudo }}</b></li>
        <li>Data de publicação: <b>{{ post.data_publicacao }}</b></li>
        <p>--------------------------------</p>
        {% endfor %}
    </ul>
</body>
</html>